## DataFrame
2차원 데이터 (Series들의 모음)

### Data 준비
사전(dict) 자료구조를 통해 생성

예) 짱구는 못말려 주요 인물에 대한 데이터

In [1]:
data = {
    '이름' : ['신짱구', '신형만', '봉미선', '신짱아', '훈이', '철수', '유리', '맹구'],
    '소속' : ['떡잎유치원', '떡잎상사', '없음', '없음', '떡잎유치원', '떡잎유치원', '떡잎유치원', '떡잎유치원'],
     '키' : [80, 184, 168, 60, 75, 80, 74, 85],
    '국어' : [90, 40, 80, 40, 15, 80, 55, 100],
    '영어' : [85, 35, 75, 60, 20, 100, 65, 85],
    '수학' : [100, 50, 70, 70, 10, 95, 45, 90],
    '과학' : [95, 55, 80, 75, 35, 85, 40, 95],
    '사회' : [85, 25, 75, 80, 10, 80, 35, 95],
    'SW특기' : ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']
}

data

{'이름': ['신짱구', '신형만', '봉미선', '신짱아', '훈이', '철수', '유리', '맹구'],
 '소속': ['떡잎유치원', '떡잎상사', '없음', '없음', '떡잎유치원', '떡잎유치원', '떡잎유치원', '떡잎유치원'],
 '키': [80, 184, 168, 60, 75, 80, 74, 85],
 '국어': [90, 40, 80, 40, 15, 80, 55, 100],
 '영어': [85, 35, 75, 60, 20, 100, 65, 85],
 '수학': [100, 50, 70, 70, 10, 95, 45, 90],
 '과학': [95, 55, 80, 75, 35, 85, 40, 95],
 '사회': [85, 25, 75, 80, 10, 80, 35, 95],
 'SW특기': ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']}

In [4]:
type(data)

dict

In [5]:
data['이름']

['신짱구', '신형만', '봉미선', '신짱아', '훈이', '철수', '유리', '맹구']

### DataFrame 객체 생성

In [6]:
import pandas as pd
df = pd.DataFrame(data)

In [7]:
df

    이름     소속    키   국어   영어   수학  과학  사회        SW특기
0  신짱구  떡잎유치원   80   90   85  100  95  85      Python
1  신형만   떡잎상사  184   40   35   50  55  25        Java
2  봉미선     없음  168   80   75   70  80  75  Javascript
3  신짱아     없음   60   40   60   70  75  80
4   훈이  떡잎유치원   75   15   20   10  35  10
5   철수  떡잎유치원   80   80  100   95  85  80           C
6   유리  떡잎유치원   74   55   65   45  40  35      PYTHON
7   맹구  떡잎유치원   85  100   85   90  95  95          C#

### 데이터 접근

In [8]:
df['이름']

0    신짱구
1    신형만
2    봉미선
3    신짱아
4     훈이
5     철수
6     유리
7     맹구
Name: 이름, dtype: object

In [9]:
df['키']

0     80
1    184
2    168
3     60
4     75
5     80
6     74
7     85
Name: 키, dtype: int64

In [10]:
df[['이름', '키']]

    이름    키
0  신짱구   80
1  신형만  184
2  봉미선  168
3  신짱아   60
4   훈이   75
5   철수   80
6   유리   74
7   맹구   85

### DataFrame 객체생성 (index 지정)

In [12]:
df = pd.DataFrame(data, index=['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번'])
df

     이름     소속    키   국어   영어   수학  과학  사회        SW특기
1번  신짱구  떡잎유치원   80   90   85  100  95  85      Python
2번  신형만   떡잎상사  184   40   35   50  55  25        Java
3번  봉미선     없음  168   80   75   70  80  75  Javascript
4번  신짱아     없음   60   40   60   70  75  80
5번   훈이  떡잎유치원   75   15   20   10  35  10
6번   철수  떡잎유치원   80   80  100   95  85  80           C
7번   유리  떡잎유치원   74   55   65   45  40  35      PYTHON
8번   맹구  떡잎유치원   85  100   85   90  95  95          C#

### DataFrame 객체생성 (column 지정)
data 중에서 원하는 column만 선택하거나, 순서변경 가능

In [14]:
df = pd.DataFrame(data, columns=['이름', '소속', '키'])
df

    이름     소속    키
0  신짱구  떡잎유치원   80
1  신형만   떡잎상사  184
2  봉미선     없음  168
3  신짱아     없음   60
4   훈이  떡잎유치원   75
5   철수  떡잎유치원   80
6   유리  떡잎유치원   74
7   맹구  떡잎유치원   85