## 3. Index
데이터에 접근할 수 있는 주소 값

In [5]:
import pandas as pd

data = {
    '이름' : ['신짱구', '신형만', '봉미선', '신짱아', '훈이', '철수', '유리', '맹구'],
    '소속' : ['떡잎유치원', '떡잎상사', '없음', '없음', '떡잎유치원', '떡잎유치원', '떡잎유치원', '떡잎유치원'],
     '키' : [80, 184, 168, 60, 75, 80, 74, 85],
    '국어' : [90, 40, 80, 40, 15, 80, 55, 100],
    '영어' : [85, 35, 75, 60, 20, 100, 65, 85],
    '수학' : [100, 50, 70, 70, 10, 95, 45, 90],
    '과학' : [95, 55, 80, 75, 35, 85, 40, 95],
    '사회' : [85, 25, 75, 80, 10, 80, 35, 95],
    'SW특기' : ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']
}

df = pd.DataFrame(data, index=['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번'])
df

     이름     소속    키   국어   영어   수학  과학  사회        SW특기
1번  신짱구  떡잎유치원   80   90   85  100  95  85      Python
2번  신형만   떡잎상사  184   40   35   50  55  25        Java
3번  봉미선     없음  168   80   75   70  80  75  Javascript
4번  신짱아     없음   60   40   60   70  75  80
5번   훈이  떡잎유치원   75   15   20   10  35  10
6번   철수  떡잎유치원   80   80  100   95  85  80           C
7번   유리  떡잎유치원   74   55   65   45  40  35      PYTHON
8번   맹구  떡잎유치원   85  100   85   90  95  95          C#

In [6]:
df.index

Index(['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번'], dtype='object')

### Index 이름 설정

In [9]:
df.index.name = '지원번호'
df

       이름     소속    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  떡잎유치원   80   90   85  100  95  85      Python
2번    신형만   떡잎상사  184   40   35   50  55  25        Java
3번    봉미선     없음  168   80   75   70  80  75  Javascript
4번    신짱아     없음   60   40   60   70  75  80
5번     훈이  떡잎유치원   75   15   20   10  35  10
6번     철수  떡잎유치원   80   80  100   95  85  80           C
7번     유리  떡잎유치원   74   55   65   45  40  35      PYTHON
8번     맹구  떡잎유치원   85  100   85   90  95  95          C#

### Index 초기화

In [8]:
df.reset_index()

  지원번호   이름     소속    키   국어   영어   수학  과학  사회        SW특기
0   1번  신짱구  떡잎유치원   80   90   85  100  95  85      Python
1   2번  신형만   떡잎상사  184   40   35   50  55  25        Java
2   3번  봉미선     없음  168   80   75   70  80  75  Javascript
3   4번  신짱아     없음   60   40   60   70  75  80
4   5번   훈이  떡잎유치원   75   15   20   10  35  10
5   6번   철수  떡잎유치원   80   80  100   95  85  80           C
6   7번   유리  떡잎유치원   74   55   65   45  40  35      PYTHON
7   8번   맹구  떡잎유치원   85  100   85   90  95  95          C#

In [10]:
df.reset_index(drop=True) # 원래 쓰던 '지원번호' 인덱스 삭제, 실제 데이터에는 반영되지 않음 !

    이름     소속    키   국어   영어   수학  과학  사회        SW특기
0  신짱구  떡잎유치원   80   90   85  100  95  85      Python
1  신형만   떡잎상사  184   40   35   50  55  25        Java
2  봉미선     없음  168   80   75   70  80  75  Javascript
3  신짱아     없음   60   40   60   70  75  80
4   훈이  떡잎유치원   75   15   20   10  35  10
5   철수  떡잎유치원   80   80  100   95  85  80           C
6   유리  떡잎유치원   74   55   65   45  40  35      PYTHON
7   맹구  떡잎유치원   85  100   85   90  95  95          C#

In [11]:
df

       이름     소속    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  떡잎유치원   80   90   85  100  95  85      Python
2번    신형만   떡잎상사  184   40   35   50  55  25        Java
3번    봉미선     없음  168   80   75   70  80  75  Javascript
4번    신짱아     없음   60   40   60   70  75  80
5번     훈이  떡잎유치원   75   15   20   10  35  10
6번     철수  떡잎유치원   80   80  100   95  85  80           C
7번     유리  떡잎유치원   74   55   65   45  40  35      PYTHON
8번     맹구  떡잎유치원   85  100   85   90  95  95          C#

In [13]:
df.reset_index(drop=True, inplace=True) #실제 데이터에 바로 반영

In [14]:
df

    이름     소속    키   국어   영어   수학  과학  사회        SW특기
0  신짱구  떡잎유치원   80   90   85  100  95  85      Python
1  신형만   떡잎상사  184   40   35   50  55  25        Java
2  봉미선     없음  168   80   75   70  80  75  Javascript
3  신짱아     없음   60   40   60   70  75  80
4   훈이  떡잎유치원   75   15   20   10  35  10
5   철수  떡잎유치원   80   80  100   95  85  80           C
6   유리  떡잎유치원   74   55   65   45  40  35      PYTHON
7   맹구  떡잎유치원   85  100   85   90  95  95          C#

### Index 설정
지정한 column으로 index 설정

In [17]:
# df.set_index('이름')
df.set_index('이름', inplace= True)

In [18]:
df

        소속    키   국어   영어   수학  과학  사회        SW특기
이름
신짱구  떡잎유치원   80   90   85  100  95  85      Python
신형만   떡잎상사  184   40   35   50  55  25        Java
봉미선     없음  168   80   75   70  80  75  Javascript
신짱아     없음   60   40   60   70  75  80
훈이   떡잎유치원   75   15   20   10  35  10
철수   떡잎유치원   80   80  100   95  85  80           C
유리   떡잎유치원   74   55   65   45  40  35      PYTHON
맹구   떡잎유치원   85  100   85   90  95  95          C#

### Index  정렬
Index를 기준으로 오름차순, 내림차순 정렬

In [19]:
df.sort_index() # 인덱스로 오름차순 정렬

        소속    키   국어   영어   수학  과학  사회        SW특기
이름
맹구   떡잎유치원   85  100   85   90  95  95          C#
봉미선     없음  168   80   75   70  80  75  Javascript
신짱구  떡잎유치원   80   90   85  100  95  85      Python
신짱아     없음   60   40   60   70  75  80
신형만   떡잎상사  184   40   35   50  55  25        Java
유리   떡잎유치원   74   55   65   45  40  35      PYTHON
철수   떡잎유치원   80   80  100   95  85  80           C
훈이   떡잎유치원   75   15   20   10  35  10

In [20]:
df.sort_index(ascending=False) # 내림차순으로 정렬

        소속    키   국어   영어   수학  과학  사회        SW특기
이름
훈이   떡잎유치원   75   15   20   10  35  10
철수   떡잎유치원   80   80  100   95  85  80           C
유리   떡잎유치원   74   55   65   45  40  35      PYTHON
신형만   떡잎상사  184   40   35   50  55  25        Java
신짱아     없음   60   40   60   70  75  80
신짱구  떡잎유치원   80   90   85  100  95  85      Python
봉미선     없음  168   80   75   70  80  75  Javascript
맹구   떡잎유치원   85  100   85   90  95  95          C#