## 4. 파일 저장 및 열기
DataFrame 객체를 Excel, csv, txt등의 형태의 파일로 저장 및 열기

In [1]:
import pandas as pd
data = {
    '이름' : ['신짱구', '신형만', '봉미선', '신짱아', '훈이', '철수', '유리', '맹구'],
    '소속' : ['떡잎유치원', '떡잎상사', '없음', '없음', '떡잎유치원', '떡잎유치원', '떡잎유치원', '떡잎유치원'],
     '키' : [80, 184, 168, 60, 75, 80, 74, 85],
    '국어' : [90, 40, 80, 40, 15, 80, 55, 100],
    '영어' : [85, 35, 75, 60, 20, 100, 65, 85],
    '수학' : [100, 50, 70, 70, 10, 95, 45, 90],
    '과학' : [95, 55, 80, 75, 35, 85, 40, 95],
    '사회' : [85, 25, 75, 80, 10, 80, 35, 95],
    'SW특기' : ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']
}

df = pd.DataFrame(data, index=['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번'])
df

     이름     소속    키   국어   영어   수학  과학  사회        SW특기
1번  신짱구  떡잎유치원   80   90   85  100  95  85      Python
2번  신형만   떡잎상사  184   40   35   50  55  25        Java
3번  봉미선     없음  168   80   75   70  80  75  Javascript
4번  신짱아     없음   60   40   60   70  75  80
5번   훈이  떡잎유치원   75   15   20   10  35  10
6번   철수  떡잎유치원   80   80  100   95  85  80           C
7번   유리  떡잎유치원   74   55   65   45  40  35      PYTHON
8번   맹구  떡잎유치원   85  100   85   90  95  95          C#

In [2]:
df.index.name = '지원번호'
df

       이름     소속    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  떡잎유치원   80   90   85  100  95  85      Python
2번    신형만   떡잎상사  184   40   35   50  55  25        Java
3번    봉미선     없음  168   80   75   70  80  75  Javascript
4번    신짱아     없음   60   40   60   70  75  80
5번     훈이  떡잎유치원   75   15   20   10  35  10
6번     철수  떡잎유치원   80   80  100   95  85  80           C
7번     유리  떡잎유치원   74   55   65   45  40  35      PYTHON
8번     맹구  떡잎유치원   85  100   85   90  95  95          C#

***
### 저장하기
#### csv파일로 저장

In [4]:
df.to_csv('score.csv', encoding='utf-8-sig')

In [ ]:
# 인덱스는 제외하고 파일저장
df.to_csv('score.csv', encoding='utf-8-sig', index=False)

#### 텍스트(.txt)파일로 저장

In [5]:
df.to_csv('score.txt', sep='\t') # tab으로 구분된 텍스트 파일

#### 엑셀 파일로 저장

In [6]:
df.to_excel('score.xlsx')

***
### 파일열기

#### csv 파일 열기

In [8]:
df = pd.read_csv('score.csv')
df

  지원번호   이름     소속    키   국어   영어   수학  과학  사회        SW특기
0   1번  신짱구  떡잎유치원   80   90   85  100  95  85      Python
1   2번  신형만   떡잎상사  184   40   35   50  55  25        Java
2   3번  봉미선     없음  168   80   75   70  80  75  Javascript
3   4번  신짱아     없음   60   40   60   70  75  80         NaN
4   5번   훈이  떡잎유치원   75   15   20   10  35  10         NaN
5   6번   철수  떡잎유치원   80   80  100   95  85  80           C
6   7번   유리  떡잎유치원   74   55   65   45  40  35      PYTHON
7   8번   맹구  떡잎유치원   85  100   85   90  95  95          C#

In [9]:
df = pd.read_csv('score.csv', skiprows=1) # 지정된 갯수 만큼의 행을 건너뜀
df

   1번  신짱구  떡잎유치원   80   90   85  100  95  85.1      Python
0  2번  신형만   떡잎상사  184   40   35   50  55    25        Java
1  3번  봉미선     없음  168   80   75   70  80    75  Javascript
2  4번  신짱아     없음   60   40   60   70  75    80         NaN
3  5번   훈이  떡잎유치원   75   15   20   10  35    10         NaN
4  6번   철수  떡잎유치원   80   80  100   95  85    80           C
5  7번   유리  떡잎유치원   74   55   65   45  40    35      PYTHON
6  8번   맹구  떡잎유치원   85  100   85   90  95    95          C#

In [10]:
df = pd.read_csv('score.csv', skiprows=[1, 3, 5]) # 1, 3, 5행 제외 (row는 0부터 시작)
df

  지원번호   이름     소속    키   국어   영어  수학  과학  사회    SW특기
0   2번  신형만   떡잎상사  184   40   35  50  55  25    Java
1   4번  신짱아     없음   60   40   60  70  75  80     NaN
2   6번   철수  떡잎유치원   80   80  100  95  85  80       C
3   7번   유리  떡잎유치원   74   55   65  45  40  35  PYTHON
4   8번   맹구  떡잎유치원   85  100   85  90  95  95      C#

In [11]:
df = pd.read_csv('score.csv', nrows=4) # 지정된 개수만큼의 행만 가져옴
df

  지원번호   이름     소속    키  국어  영어   수학  과학  사회        SW특기
0   1번  신짱구  떡잎유치원   80  90  85  100  95  85      Python
1   2번  신형만   떡잎상사  184  40  35   50  55  25        Java
2   3번  봉미선     없음  168  80  75   70  80  75  Javascript
3   4번  신짱아     없음   60  40  60   70  75  80         NaN

In [12]:
df = pd.read_csv('score.csv', skiprows=2, nrows=4) # 처음 2개행은 무시, 이후에 4개의 행을 가져옴
df

   2번  신형만   떡잎상사  184  40   35  50  55  25        Java
0  3번  봉미선     없음  168  80   75  70  80  75  Javascript
1  4번  신짱아     없음   60  40   60  70  75  80         NaN
2  5번   훈이  떡잎유치원   75  15   20  10  35  10         NaN
3  6번   철수  떡잎유치원   80  80  100  95  85  80           C

#### 텍스트 파일 열기

In [13]:
df = pd.read_csv('score.txt', sep='\t')
df

  지원번호   이름     소속    키   국어   영어   수학  과학  사회        SW특기
0   1번  신짱구  떡잎유치원   80   90   85  100  95  85      Python
1   2번  신형만   떡잎상사  184   40   35   50  55  25        Java
2   3번  봉미선     없음  168   80   75   70  80  75  Javascript
3   4번  신짱아     없음   60   40   60   70  75  80         NaN
4   5번   훈이  떡잎유치원   75   15   20   10  35  10         NaN
5   6번   철수  떡잎유치원   80   80  100   95  85  80           C
6   7번   유리  떡잎유치원   74   55   65   45  40  35      PYTHON
7   8번   맹구  떡잎유치원   85  100   85   90  95  95          C#

In [14]:
df = pd.read_csv('score.txt', sep='\t', index_col='지원번호') # 인덱스를 지원번호 컬럼으로 설정해서 가져옴
df

       이름     소속    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  떡잎유치원   80   90   85  100  95  85      Python
2번    신형만   떡잎상사  184   40   35   50  55  25        Java
3번    봉미선     없음  168   80   75   70  80  75  Javascript
4번    신짱아     없음   60   40   60   70  75  80         NaN
5번     훈이  떡잎유치원   75   15   20   10  35  10         NaN
6번     철수  떡잎유치원   80   80  100   95  85  80           C
7번     유리  떡잎유치원   74   55   65   45  40  35      PYTHON
8번     맹구  떡잎유치원   85  100   85   90  95  95          C#

In [15]:
df = pd.read_csv('score.txt', sep='\t')
df.set_index('지원번호', inplace=True)
df

       이름     소속    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  떡잎유치원   80   90   85  100  95  85      Python
2번    신형만   떡잎상사  184   40   35   50  55  25        Java
3번    봉미선     없음  168   80   75   70  80  75  Javascript
4번    신짱아     없음   60   40   60   70  75  80         NaN
5번     훈이  떡잎유치원   75   15   20   10  35  10         NaN
6번     철수  떡잎유치원   80   80  100   95  85  80           C
7번     유리  떡잎유치원   74   55   65   45  40  35      PYTHON
8번     맹구  떡잎유치원   85  100   85   90  95  95          C#

#### 엑셀 파일 열기

In [17]:
df = pd.read_excel('score.xlsx')
df

  지원번호   이름     소속    키   국어   영어   수학  과학  사회        SW특기
0   1번  신짱구  떡잎유치원   80   90   85  100  95  85      Python
1   2번  신형만   떡잎상사  184   40   35   50  55  25        Java
2   3번  봉미선     없음  168   80   75   70  80  75  Javascript
3   4번  신짱아     없음   60   40   60   70  75  80         NaN
4   5번   훈이  떡잎유치원   75   15   20   10  35  10         NaN
5   6번   철수  떡잎유치원   80   80  100   95  85  80           C
6   7번   유리  떡잎유치원   74   55   65   45  40  35      PYTHON
7   8번   맹구  떡잎유치원   85  100   85   90  95  95          C#

In [18]:
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름     소속    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  떡잎유치원   80   90   85  100  95  85      Python
2번    신형만   떡잎상사  184   40   35   50  55  25        Java
3번    봉미선     없음  168   80   75   70  80  75  Javascript
4번    신짱아     없음   60   40   60   70  75  80         NaN
5번     훈이  떡잎유치원   75   15   20   10  35  10         NaN
6번     철수  떡잎유치원   80   80  100   95  85  80           C
7번     유리  떡잎유치원   74   55   65   45  40  35      PYTHON
8번     맹구  떡잎유치원   85  100   85   90  95  95          C#