### 5. 데이터 확인

In [1]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름     소속    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  떡잎유치원   80   90   85  100  95  85      Python
2번    신형만   떡잎상사  184   40   35   50  55  25        Java
3번    봉미선     없음  168   80   75   70  80  75  Javascript
4번    신짱아     없음   60   40   60   70  75  80         NaN
5번     훈이  떡잎유치원   75   15   20   10  35  10         NaN
6번     철수  떡잎유치원   80   80  100   95  85  80           C
7번     유리  떡잎유치원   74   55   65   45  40  35      PYTHON
8번     맹구  떡잎유치원   85  100   85   90  95  95          C#

#### DataFrame 확인

In [2]:
# 계산 가능한 데이터에 대해 column별로 데이터의 개수, 평균, 표준편차. 최소/최대값 등의 정보(요약 통계량)를 보여줌 
df.describe()

                키          국어          영어          수학         과학         사회
count    8.000000    8.000000    8.000000    8.000000   8.000000   8.000000
mean   100.750000   62.500000   65.625000   66.250000  70.000000  60.625000
std     47.210017   29.519969   26.917533   30.325614  23.754699  32.120032
min     60.000000   15.000000   20.000000   10.000000  35.000000  10.000000
25%     74.750000   40.000000   53.750000   48.750000  51.250000  32.500000
50%     80.000000   67.500000   70.000000   70.000000  77.500000  77.500000
75%    105.750000   82.500000   85.000000   91.250000  87.500000  81.250000
max    184.000000  100.000000  100.000000  100.000000  95.000000  95.000000

In [3]:
# 데이터프레임의 정보를 보여줌
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 1번 to 8번
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      8 non-null      object
 1   소속      8 non-null      object
 2   키       8 non-null      int64
 3   국어      8 non-null      int64
 4   영어      8 non-null      int64
 5   수학      8 non-null      int64
 6   과학      8 non-null      int64
 7   사회      8 non-null      int64
 8   SW특기    6 non-null      object
dtypes: int64(6), object(3)
memory usage: 640.0+ bytes

In [4]:
df.head() # 처음 5개의 행을 출력

       이름     소속    키  국어  영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  떡잎유치원   80  90  85  100  95  85      Python
2번    신형만   떡잎상사  184  40  35   50  55  25        Java
3번    봉미선     없음  168  80  75   70  80  75  Javascript
4번    신짱아     없음   60  40  60   70  75  80         NaN
5번     훈이  떡잎유치원   75  15  20   10  35  10         NaN

In [5]:
df.head(8)

       이름     소속    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  떡잎유치원   80   90   85  100  95  85      Python
2번    신형만   떡잎상사  184   40   35   50  55  25        Java
3번    봉미선     없음  168   80   75   70  80  75  Javascript
4번    신짱아     없음   60   40   60   70  75  80         NaN
5번     훈이  떡잎유치원   75   15   20   10  35  10         NaN
6번     철수  떡잎유치원   80   80  100   95  85  80           C
7번     유리  떡잎유치원   74   55   65   45  40  35      PYTHON
8번     맹구  떡잎유치원   85  100   85   90  95  95          C#

In [6]:
df.tail() # 마지막 5개의 행을 출력

       이름     소속   키   국어   영어  수학  과학  사회    SW특기
지원번호
4번    신짱아     없음  60   40   60  70  75  80     NaN
5번     훈이  떡잎유치원  75   15   20  10  35  10     NaN
6번     철수  떡잎유치원  80   80  100  95  85  80       C
7번     유리  떡잎유치원  74   55   65  45  40  35  PYTHON
8번     맹구  떡잎유치원  85  100   85  90  95  95      C#

In [8]:
df.values

array([['신짱구', '떡잎유치원', 80, 90, 85, 100, 95, 85, 'Python'],
       ['신형만', '떡잎상사', 184, 40, 35, 50, 55, 25, 'Java'],
       ['봉미선', '없음', 168, 80, 75, 70, 80, 75, 'Javascript'],
       ['신짱아', '없음', 60, 40, 60, 70, 75, 80, nan],
       ['훈이', '떡잎유치원', 75, 15, 20, 10, 35, 10, nan],
       ['철수', '떡잎유치원', 80, 80, 100, 95, 85, 80, 'C'],
       ['유리', '떡잎유치원', 74, 55, 65, 45, 40, 35, 'PYTHON'],
       ['맹구', '떡잎유치원', 85, 100, 85, 90, 95, 95, 'C#']], dtype=object)

In [9]:
df.index

Index(['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번'], dtype='object', name='지원번호')

In [10]:
# 데이터프레임을 구성하는 컬럼명을 출력
df.columns

Index(['이름', '소속', '키', '국어', '영어', '수학', '과학', '사회', 'SW특기'], dtype='object')

In [11]:
# 데이터의 (행, 열)크기를 출력
df.shape

(8, 9)

***
#### Series 확인

In [12]:
df['키'].describe()

count      8.000000
mean     100.750000
std       47.210017
min       60.000000
25%       74.750000
50%       80.000000
75%      105.750000
max      184.000000
Name: 키, dtype: float64

In [15]:
df['키'].min()

60

In [16]:
df['키'].max()

184

In [17]:
df['키'].nlargest(3) # 키 큰 순서대로 3명 출력

지원번호
2번    184
3번    168
8번     85
Name: 키, dtype: int64

In [18]:
df['키'].mean()

100.75

In [19]:
df['키'].sum()

806

In [21]:
df['SW특기'].count()

6

In [22]:
# 중복제거
df['소속'].unique()

array(['떡잎유치원', '떡잎상사', '없음'], dtype=object)

In [23]:
# 중복제거 한 후 개수출력
df['소속'].nunique()

3