### 6. 데이터 선택

In [3]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름     소속    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  떡잎유치원   80   90   85  100  95  85      Python
2번    신형만   떡잎상사  184   40   35   50  55  25        Java
3번    봉미선     없음  168   80   75   70  80  75  Javascript
4번    신짱아     없음   60   40   60   70  75  80         NaN
5번     훈이  떡잎유치원   75   15   20   10  35  10         NaN
6번     철수  떡잎유치원   80   80  100   95  85  80           C
7번     유리  떡잎유치원   74   55   65   45  40  35      PYTHON
8번     맹구  떡잎유치원   85  100   85   90  95  95          C#

#### Column 선택 (label)

In [2]:
df['이름']

지원번호
1번    신짱구
2번    신형만
3번    봉미선
4번    신짱아
5번     훈이
6번     철수
7번     유리
8번     맹구
Name: 이름, dtype: object

In [3]:
df['키']

지원번호
1번     80
2번    184
3번    168
4번     60
5번     75
6번     80
7번     74
8번     85
Name: 키, dtype: int64

In [4]:
df[['이름', '키']]

       이름    키
지원번호
1번    신짱구   80
2번    신형만  184
3번    봉미선  168
4번    신짱아   60
5번     훈이   75
6번     철수   80
7번     유리   74
8번     맹구   85

#### Column 선택 (정수 index)

In [5]:
df.columns

Index(['이름', '소속', '키', '국어', '영어', '수학', '과학', '사회', 'SW특기'], dtype='object')

In [7]:
df.columns[0]

'이름'

In [8]:
df[df.columns[0]] # df['이름']과 동일한 동작

지원번호
1번    신짱구
2번    신형만
3번    봉미선
4번    신짱아
5번     훈이
6번     철수
7번     유리
8번     맹구
Name: 이름, dtype: object

In [10]:
df[df.columns[-1]] # 맨 끝에 있는 column 값을 출력

지원번호
1번        Python
2번          Java
3번    Javascript
4번           NaN
5번           NaN
6번             C
7번        PYTHON
8번            C#
Name: SW특기, dtype: object

***
#### 슬라이싱

In [13]:
df['영어'][0:5] # 0~4 까지의 영어 점수 데이터 가져옴

지원번호
1번    85
2번    35
3번    75
4번    60
5번    20
Name: 영어, dtype: int64

In [4]:
df[['이름', '키']][:3] # 상위 3명의 이름, 키 정보를 가져옴

       이름    키
지원번호
1번    신짱구   80
2번    신형만  184
3번    봉미선  168

In [5]:
df[3:] # 4번째 행부터 끝까지 데이터를 가져옴

       이름     소속   키   국어   영어  수학  과학  사회    SW특기
지원번호
4번    신짱아     없음  60   40   60  70  75  80     NaN
5번     훈이  떡잎유치원  75   15   20  10  35  10     NaN
6번     철수  떡잎유치원  80   80  100  95  85  80       C
7번     유리  떡잎유치원  74   55   65  45  40  35  PYTHON
8번     맹구  떡잎유치원  85  100   85  90  95  95      C#