### 7. 데이터 선택 (loc)
이름을 이용하여 원하는 행에서 원하는 col 선택

In [1]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름     소속    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  떡잎유치원   80   90   85  100  95  85      Python
2번    신형만   떡잎상사  184   40   35   50  55  25        Java
3번    봉미선     없음  168   80   75   70  80  75  Javascript
4번    신짱아     없음   60   40   60   70  75  80         NaN
5번     훈이  떡잎유치원   75   15   20   10  35  10         NaN
6번     철수  떡잎유치원   80   80  100   95  85  80           C
7번     유리  떡잎유치원   74   55   65   45  40  35      PYTHON
8번     맹구  떡잎유치원   85  100   85   90  95  95          C#

In [2]:
df.loc['1번'] # 인덱스 1번에 해당하는 전체 데이터를 가져옴

이름         신짱구
소속       떡잎유치원
키           80
국어          90
영어          85
수학         100
과학          95
사회          85
SW특기    Python
Name: 1번, dtype: object

In [3]:
df.loc['5번'] # 인덱스 5번에 해당하는 전체 데이터를 가져옴

이름         훈이
소속      떡잎유치원
키          75
국어         15
영어         20
수학         10
과학         35
사회         10
SW특기      NaN
Name: 5번, dtype: object

In [5]:
df.loc['1번', '국어'] # 인덱스 1번에 해당하는 국어 데이터를 가져옴

90

In [6]:
df.loc[['1번', '2번'], '영어'] # 인덱스 1번, 2번에 해당하는 영어 데이터를 가져옴

지원번호
1번    85
2번    35
Name: 영어, dtype: int64

In [7]:
df.loc[['1번', '3번'], ['영어', '수학']] # 인덱스 1번, 3번에 해당하는 영어, 수학 데이터를 가져옴

      영어   수학
지원번호
1번    85  100
3번    75   70

In [9]:
df.loc['1번':'5번', '국어':'사회'] # 슬라이싱: 인덱스 1번부터 5번까지, 국어부터 사회까지의 데이터를 가져옴 (슬라이싱은 대괄호 필요없음)

      국어  영어   수학  과학  사회
지원번호
1번    90  85  100  95  85
2번    40  35   50  55  25
3번    80  75   70  80  75
4번    40  60   70  75  80
5번    15  20   10  35  10