### 8. 데이터 선택 (iloc)
위치를 이용하여 원하는 행에서 원하는 col 선택

In [1]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름     소속    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  떡잎유치원   80   90   85  100  95  85      Python
2번    신형만   떡잎상사  184   40   35   50  55  25        Java
3번    봉미선     없음  168   80   75   70  80  75  Javascript
4번    신짱아     없음   60   40   60   70  75  80         NaN
5번     훈이  떡잎유치원   75   15   20   10  35  10         NaN
6번     철수  떡잎유치원   80   80  100   95  85  80           C
7번     유리  떡잎유치원   74   55   65   45  40  35      PYTHON
8번     맹구  떡잎유치원   85  100   85   90  95  95          C#

In [2]:
df.iloc[0] # 0번째 인덱스에 해당하는 데이터를 가져옴

이름         신짱구
소속       떡잎유치원
키           80
국어          90
영어          85
수학         100
과학          95
사회          85
SW특기    Python
Name: 1번, dtype: object

In [3]:
df.iloc[3] # 3번째 인덱스에 해당하는 데이터를 가져옴

이름      신짱아
소속       없음
키        60
국어       40
영어       60
수학       70
과학       75
사회       80
SW특기    NaN
Name: 4번, dtype: object

In [4]:
df.iloc[0:5] # 인덱스 0~4번째까지의 데이터를 가져옴

       이름     소속    키  국어  영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  떡잎유치원   80  90  85  100  95  85      Python
2번    신형만   떡잎상사  184  40  35   50  55  25        Java
3번    봉미선     없음  168  80  75   70  80  75  Javascript
4번    신짱아     없음   60  40  60   70  75  80         NaN
5번     훈이  떡잎유치원   75  15  20   10  35  10         NaN

In [6]:
df.iloc[0, 1] # 0번째 위치의 1번째(소속) 데이터를 가져옴

'떡잎유치원'

In [9]:
df.iloc[0, 2] # 0번째 위치의 2번째(zl) 데이터를 가져옴

80

In [10]:
df.iloc[[0, 1], 2] # 인덱스 0,1번째 위치 학생의 2번째(키) 데이터

지원번호
1번     80
2번    184
Name: 키, dtype: int64

In [11]:
df.iloc[[0, 1], [3, 4]] # 인덱스 0,1번째 위치 학생의 3번째(국어), 4번째(영어) 데이터

      국어  영어
지원번호
1번    90  85
2번    40  35

In [13]:
df.iloc[0:5, 3:6]

      국어  영어   수학
지원번호
1번    90  85  100
2번    40  35   50
3번    80  75   70
4번    40  60   70
5번    15  20   10