### 9. 데이터 선택 (조건) 
조건에 해당하는 데이터 선택

In [1]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름     소속    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  떡잎유치원   80   90   85  100  95  85      Python
2번    신형만   떡잎상사  184   40   35   50  55  25        Java
3번    봉미선     없음  168   80   75   70  80  75  Javascript
4번    신짱아     없음   60   40   60   70  75  80         NaN
5번     훈이  떡잎유치원   75   15   20   10  35  10         NaN
6번     철수  떡잎유치원   80   80  100   95  85  80           C
7번     유리  떡잎유치원   74   55   65   45  40  35      PYTHON
8번     맹구  떡잎유치원   85  100   85   90  95  95          C#

In [3]:
df['키'] >= 180 # 학생들의 키가 180 이상인지 여부(True/False)

지원번호
1번    False
2번     True
3번    False
4번    False
5번    False
6번    False
7번    False
8번    False
Name: 키, dtype: bool

In [4]:
filt = (df['키'] >= 180)
df[filt] # 조건으로 데이터프레임 조회

       이름    소속    키  국어  영어  수학  과학  사회  SW특기
지원번호
2번    신형만  떡잎상사  184  40  35  50  55  25  Java

In [5]:
df[-filt] # 조건을 역으로 적용하여 조회

       이름     소속    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  떡잎유치원   80   90   85  100  95  85      Python
3번    봉미선     없음  168   80   75   70  80  75  Javascript
4번    신짱아     없음   60   40   60   70  75  80         NaN
5번     훈이  떡잎유치원   75   15   20   10  35  10         NaN
6번     철수  떡잎유치원   80   80  100   95  85  80           C
7번     유리  떡잎유치원   74   55   65   45  40  35      PYTHON
8번     맹구  떡잎유치원   85  100   85   90  95  95          C#

In [6]:
df[df['키'] >= 180]

       이름    소속    키  국어  영어  수학  과학  사회  SW특기
지원번호
2번    신형만  떡잎상사  184  40  35  50  55  25  Java

In [7]:
df.loc[df['키'] >= 180, '수학']

지원번호
2번    50
Name: 수학, dtype: int64

In [8]:
df.loc[df['키'] >= 180, ['수학', '과학']]

      수학  과학
지원번호
2번    50  55

#### 다양한 조건

##### & 그리고

In [9]:
df.loc[(df['키'] <= 180) & (df['소속'] == '떡잎유치원')]

       이름     소속   키   국어   영어   수학  과학  사회    SW특기
지원번호
1번    신짱구  떡잎유치원  80   90   85  100  95  85  Python
5번     훈이  떡잎유치원  75   15   20   10  35  10     NaN
6번     철수  떡잎유치원  80   80  100   95  85  80       C
7번     유리  떡잎유치원  74   55   65   45  40  35  PYTHON
8번     맹구  떡잎유치원  85  100   85   90  95  95      C#

##### | 또는

In [10]:
df.loc[(df['키'] <= 180) | (df['소속'] == '떡잎상사')]

       이름     소속    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  떡잎유치원   80   90   85  100  95  85      Python
2번    신형만   떡잎상사  184   40   35   50  55  25        Java
3번    봉미선     없음  168   80   75   70  80  75  Javascript
4번    신짱아     없음   60   40   60   70  75  80         NaN
5번     훈이  떡잎유치원   75   15   20   10  35  10         NaN
6번     철수  떡잎유치원   80   80  100   95  85  80           C
7번     유리  떡잎유치원   74   55   65   45  40  35      PYTHON
8번     맹구  떡잎유치원   85  100   85   90  95  95          C#

***

#### str 함수

In [12]:
filt = df['이름'].str.startswith('신') # '신'씨 성을 가진 사람
df[filt]

       이름     소속    키  국어  영어   수학  과학  사회    SW특기
지원번호
1번    신짱구  떡잎유치원   80  90  85  100  95  85  Python
2번    신형만   떡잎상사  184  40  35   50  55  25    Java
4번    신짱아     없음   60  40  60   70  75  80     NaN

In [13]:
filt = df['이름'].str.contains('구') # 이름에 '구'가 들어가는 사람
df[filt]

       이름     소속   키   국어  영어   수학  과학  사회    SW특기
지원번호
1번    신짱구  떡잎유치원  80   90  85  100  95  85  Python
8번     맹구  떡잎유치원  85  100  85   90  95  95      C#

In [14]:
df[-filt] # 이름에 '구'가 들어가는 사람 제외

       이름     소속    키  국어   영어  수학  과학  사회        SW특기
지원번호
2번    신형만   떡잎상사  184  40   35  50  55  25        Java
3번    봉미선     없음  168  80   75  70  80  75  Javascript
4번    신짱아     없음   60  40   60  70  75  80         NaN
5번     훈이  떡잎유치원   75  15   20  10  35  10         NaN
6번     철수  떡잎유치원   80  80  100  95  85  80           C
7번     유리  떡잎유치원   74  55   65  45  40  35      PYTHON

In [15]:
langs = ['Python', 'Java']
filt = df['SW특기'].isin(langs)
df[filt] # SW특기가 파이썬이거나 자바인 사람

       이름     소속    키  국어  영어   수학  과학  사회    SW특기
지원번호
1번    신짱구  떡잎유치원   80  90  85  100  95  85  Python
2번    신형만   떡잎상사  184  40  35   50  55  25    Java

In [16]:
df # 유리도 파이썬인데 모두 대문자라서 출력안됨

       이름     소속    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  떡잎유치원   80   90   85  100  95  85      Python
2번    신형만   떡잎상사  184   40   35   50  55  25        Java
3번    봉미선     없음  168   80   75   70  80  75  Javascript
4번    신짱아     없음   60   40   60   70  75  80         NaN
5번     훈이  떡잎유치원   75   15   20   10  35  10         NaN
6번     철수  떡잎유치원   80   80  100   95  85  80           C
7번     유리  떡잎유치원   74   55   65   45  40  35      PYTHON
8번     맹구  떡잎유치원   85  100   85   90  95  95          C#

In [18]:
langs = ['python', 'java']
filt = df['SW특기'].str.lower().isin(langs) # 소문자로 변환
df[filt] # SW특기가 파이썬이거나 자바인 사람

       이름     소속    키  국어  영어   수학  과학  사회    SW특기
지원번호
1번    신짱구  떡잎유치원   80  90  85  100  95  85  Python
2번    신형만   떡잎상사  184  40  35   50  55  25    Java
7번     유리  떡잎유치원   74  55  65   45  40  35  PYTHON

In [24]:
df['SW특기'].str.contains('Java', na =True) # NaN 데이터에 대해서 True로 설정

지원번호
1번    False
2번     True
3번     True
4번     True
5번     True
6번    False
7번    False
8번    False
Name: SW특기, dtype: bool

In [25]:
df['SW특기'].str.contains('Java', na =False) # NaN 데이터에 대해서 False로 설정

지원번호
1번    False
2번     True
3번     True
4번    False
5번    False
6번    False
7번    False
8번    False
Name: SW특기, dtype: bool

In [26]:
filt = df['SW특기'].str.contains('Java', na=False)
df[filt]

       이름    소속    키  국어  영어  수학  과학  사회        SW특기
지원번호
2번    신형만  떡잎상사  184  40  35  50  55  25        Java
3번    봉미선    없음  168  80  75  70  80  75  Javascript