### 10. 결측치
비어 있는 데이터

In [20]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름     소속    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  떡잎유치원   80   90   85  100  95  85      Python
2번    신형만   떡잎상사  184   40   35   50  55  25        Java
3번    봉미선     없음  168   80   75   70  80  75  Javascript
4번    신짱아     없음   60   40   60   70  75  80         NaN
5번     훈이  떡잎유치원   75   15   20   10  35  10         NaN
6번     철수  떡잎유치원   80   80  100   95  85  80           C
7번     유리  떡잎유치원   74   55   65   45  40  35      PYTHON
8번     맹구  떡잎유치원   85  100   85   90  95  95          C#

#### 데이터 채우기 fillna

In [2]:
df.fillna('') # NaM 데이터를 빈 칸으로 채움

       이름     소속    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  떡잎유치원   80   90   85  100  95  85      Python
2번    신형만   떡잎상사  184   40   35   50  55  25        Java
3번    봉미선     없음  168   80   75   70  80  75  Javascript
4번    신짱아     없음   60   40   60   70  75  80
5번     훈이  떡잎유치원   75   15   20   10  35  10
6번     철수  떡잎유치원   80   80  100   95  85  80           C
7번     유리  떡잎유치원   74   55   65   45  40  35      PYTHON
8번     맹구  떡잎유치원   85  100   85   90  95  95          C#

In [3]:
df.fillna('없음')

       이름     소속    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  떡잎유치원   80   90   85  100  95  85      Python
2번    신형만   떡잎상사  184   40   35   50  55  25        Java
3번    봉미선     없음  168   80   75   70  80  75  Javascript
4번    신짱아     없음   60   40   60   70  75  80          없음
5번     훈이  떡잎유치원   75   15   20   10  35  10          없음
6번     철수  떡잎유치원   80   80  100   95  85  80           C
7번     유리  떡잎유치원   74   55   65   45  40  35      PYTHON
8번     맹구  떡잎유치원   85  100   85   90  95  95          C#

In [6]:
import numpy as np
df['소속'] = np.nan # 소속 데이터 전체를 NaN으로 채움\
df

       이름  소속    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구 NaN   80   90   85  100  95  85      Python
2번    신형만 NaN  184   40   35   50  55  25        Java
3번    봉미선 NaN  168   80   75   70  80  75  Javascript
4번    신짱아 NaN   60   40   60   70  75  80         NaN
5번     훈이 NaN   75   15   20   10  35  10         NaN
6번     철수 NaN   80   80  100   95  85  80           C
7번     유리 NaN   74   55   65   45  40  35      PYTHON
8번     맹구 NaN   85  100   85   90  95  95          C#

In [9]:
df.fillna('모름', inplace=True)

In [10]:
df # '모름'으로 처리가 안되어있음 ! => inplace

       이름  소속    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  모름   80   90   85  100  95  85      Python
2번    신형만  모름  184   40   35   50  55  25        Java
3번    봉미선  모름  168   80   75   70  80  75  Javascript
4번    신짱아  모름   60   40   60   70  75  80          모름
5번     훈이  모름   75   15   20   10  35  10          모름
6번     철수  모름   80   80  100   95  85  80           C
7번     유리  모름   74   55   65   45  40  35      PYTHON
8번     맹구  모름   85  100   85   90  95  95          C#

In [13]:
df['SW특기'].fillna('확인 중', inplace=True) # SW특기 데이터 중에서 NaN에 대해서 채움
df

       이름     소속    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  떡잎유치원   80   90   85  100  95  85      Python
2번    신형만   떡잎상사  184   40   35   50  55  25        Java
3번    봉미선     없음  168   80   75   70  80  75  Javascript
4번    신짱아     없음   60   40   60   70  75  80        확인 중
5번     훈이  떡잎유치원   75   15   20   10  35  10        확인 중
6번     철수  떡잎유치원   80   80  100   95  85  80           C
7번     유리  떡잎유치원   74   55   65   45  40  35      PYTHON
8번     맹구  떡잎유치원   85  100   85   90  95  95          C#

#### 데이터 제외하기 dropna

In [17]:
df.dropna(inplace= True) # 전체 데이터 중에서 NaN를 포함하는 데이터 삭제
df

       이름     소속    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  떡잎유치원   80   90   85  100  95  85      Python
2번    신형만   떡잎상사  184   40   35   50  55  25        Java
3번    봉미선     없음  168   80   75   70  80  75  Javascript
6번     철수  떡잎유치원   80   80  100   95  85  80           C
7번     유리  떡잎유치원   74   55   65   45  40  35      PYTHON
8번     맹구  떡잎유치원   85  100   85   90  95  95          C#

- axis : index or columns 
- how : any or all

In [19]:
df.dropna(axis='index', how='any') # NaN이 하나라도 있는 row 삭제

       이름     소속    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  떡잎유치원   80   90   85  100  95  85      Python
2번    신형만   떡잎상사  184   40   35   50  55  25        Java
3번    봉미선     없음  168   80   75   70  80  75  Javascript
6번     철수  떡잎유치원   80   80  100   95  85  80           C
7번     유리  떡잎유치원   74   55   65   45  40  35      PYTHON
8번     맹구  떡잎유치원   85  100   85   90  95  95          C#

In [22]:
df.dropna(axis='columns') # NaN이 하나라도 있는 column 삭제 (SW특기 컬럼이 사라짐)

       이름     소속    키   국어   영어   수학  과학  사회
지원번호
1번    신짱구  떡잎유치원   80   90   85  100  95  85
2번    신형만   떡잎상사  184   40   35   50  55  25
3번    봉미선     없음  168   80   75   70  80  75
4번    신짱아     없음   60   40   60   70  75  80
5번     훈이  떡잎유치원   75   15   20   10  35  10
6번     철수  떡잎유치원   80   80  100   95  85  80
7번     유리  떡잎유치원   74   55   65   45  40  35
8번     맹구  떡잎유치원   85  100   85   90  95  95

In [25]:
df['소속'] = np.nan
df

       이름  소속    키   국어   영어   수학  과학  사회        SW특기  학교
지원번호
1번    신짱구 NaN   80   90   85  100  95  85      Python NaN
2번    신형만 NaN  184   40   35   50  55  25        Java NaN
3번    봉미선 NaN  168   80   75   70  80  75  Javascript NaN
4번    신짱아 NaN   60   40   60   70  75  80         NaN NaN
5번     훈이 NaN   75   15   20   10  35  10         NaN NaN
6번     철수 NaN   80   80  100   95  85  80           C NaN
7번     유리 NaN   74   55   65   45  40  35      PYTHON NaN
8번     맹구 NaN   85  100   85   90  95  95          C# NaN

In [26]:
df.dropna(axis='columns', how='all') # 컬럼데이터 전체가 NaN이면 column 삭제

       이름    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구   80   90   85  100  95  85      Python
2번    신형만  184   40   35   50  55  25        Java
3번    봉미선  168   80   75   70  80  75  Javascript
4번    신짱아   60   40   60   70  75  80         NaN
5번     훈이   75   15   20   10  35  10         NaN
6번     철수   80   80  100   95  85  80           C
7번     유리   74   55   65   45  40  35      PYTHON
8번     맹구   85  100   85   90  95  95          C#