### 12. 데이터 수정

In [1]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름     소속    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  떡잎유치원   80   90   85  100  95  85      Python
2번    신형만   떡잎상사  184   40   35   50  55  25        Java
3번    봉미선     없음  168   80   75   70  80  75  Javascript
4번    신짱아     없음   60   40   60   70  75  80         NaN
5번     훈이  떡잎유치원   75   15   20   10  35  10         NaN
6번     철수  떡잎유치원   80   80  100   95  85  80           C
7번     유리  떡잎유치원   74   55   65   45  40  35      PYTHON
8번     맹구  떡잎유치원   85  100   85   90  95  95          C#

***
#### column 수정

In [5]:
df['소속'].replace({'떡잎유치원': '떡잎마을방범대', '미소속':'업음'})

지원번호
1번    떡잎마을방범대
2번       떡잎상사
3번         없음
4번         없음
5번    떡잎마을방범대
6번    떡잎마을방범대
7번    떡잎마을방범대
8번    떡잎마을방범대
Name: 소속, dtype: object

In [6]:
df['소속'].replace({'떡잎유치원': '떡잎마을방범대'}, inplace= True)
df

       이름       소속    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  떡잎마을방범대   80   90   85  100  95  85      Python
2번    신형만     떡잎상사  184   40   35   50  55  25        Java
3번    봉미선       없음  168   80   75   70  80  75  Javascript
4번    신짱아       없음   60   40   60   70  75  80         NaN
5번     훈이  떡잎마을방범대   75   15   20   10  35  10         NaN
6번     철수  떡잎마을방범대   80   80  100   95  85  80           C
7번     유리  떡잎마을방범대   74   55   65   45  40  35      PYTHON
8번     맹구  떡잎마을방범대   85  100   85   90  95  95          C#

In [8]:
df['SW특기'] = df['SW특기'].str.lower()
df

       이름       소속    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  떡잎마을방범대   80   90   85  100  95  85      python
2번    신형만     떡잎상사  184   40   35   50  55  25        java
3번    봉미선       없음  168   80   75   70  80  75  javascript
4번    신짱아       없음   60   40   60   70  75  80         NaN
5번     훈이  떡잎마을방범대   75   15   20   10  35  10         NaN
6번     철수  떡잎마을방범대   80   80  100   95  85  80           c
7번     유리  떡잎마을방범대   74   55   65   45  40  35      python
8번     맹구  떡잎마을방범대   85  100   85   90  95  95          c#

In [9]:
df['SW특기'] = df['SW특기'].str.upper()
df

       이름       소속    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  떡잎마을방범대   80   90   85  100  95  85      PYTHON
2번    신형만     떡잎상사  184   40   35   50  55  25        JAVA
3번    봉미선       없음  168   80   75   70  80  75  JAVASCRIPT
4번    신짱아       없음   60   40   60   70  75  80         NaN
5번     훈이  떡잎마을방범대   75   15   20   10  35  10         NaN
6번     철수  떡잎마을방범대   80   80  100   95  85  80           C
7번     유리  떡잎마을방범대   74   55   65   45  40  35      PYTHON
8번     맹구  떡잎마을방범대   85  100   85   90  95  95          C#

In [10]:
df['소속'] = df['소속'] + '소속' # 소속데이터 + '소속'
df

       이름         소속    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  떡잎마을방범대소속   80   90   85  100  95  85      PYTHON
2번    신형만     떡잎상사소속  184   40   35   50  55  25        JAVA
3번    봉미선       없음소속  168   80   75   70  80  75  JAVASCRIPT
4번    신짱아       없음소속   60   40   60   70  75  80         NaN
5번     훈이  떡잎마을방범대소속   75   15   20   10  35  10         NaN
6번     철수  떡잎마을방범대소속   80   80  100   95  85  80           C
7번     유리  떡잎마을방범대소속   74   55   65   45  40  35      PYTHON
8번     맹구  떡잎마을방범대소속   85  100   85   90  95  95          C#

***
#### column 추가

In [11]:
df['총합'] = df['국어'] + df['영어'] + df['수학'] + df['과학'] + df['사회']
df

       이름         소속    키   국어   영어   수학  과학  사회        SW특기   총합
지원번호
1번    신짱구  떡잎마을방범대소속   80   90   85  100  95  85      PYTHON  455
2번    신형만     떡잎상사소속  184   40   35   50  55  25        JAVA  205
3번    봉미선       없음소속  168   80   75   70  80  75  JAVASCRIPT  380
4번    신짱아       없음소속   60   40   60   70  75  80         NaN  325
5번     훈이  떡잎마을방범대소속   75   15   20   10  35  10         NaN   90
6번     철수  떡잎마을방범대소속   80   80  100   95  85  80           C  440
7번     유리  떡잎마을방범대소속   74   55   65   45  40  35      PYTHON  240
8번     맹구  떡잎마을방범대소속   85  100   85   90  95  95          C#  465

In [12]:
df['결과'] = 'Fail' # 결과 컬럼 추가하고 데이터는 Fail로 초기화
df

       이름         소속    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    신짱구  떡잎마을방범대소속   80   90   85  100  95  85      PYTHON  455  Fail
2번    신형만     떡잎상사소속  184   40   35   50  55  25        JAVA  205  Fail
3번    봉미선       없음소속  168   80   75   70  80  75  JAVASCRIPT  380  Fail
4번    신짱아       없음소속   60   40   60   70  75  80         NaN  325  Fail
5번     훈이  떡잎마을방범대소속   75   15   20   10  35  10         NaN   90  Fail
6번     철수  떡잎마을방범대소속   80   80  100   95  85  80           C  440  Fail
7번     유리  떡잎마을방범대소속   74   55   65   45  40  35      PYTHON  240  Fail
8번     맹구  떡잎마을방범대소속   85  100   85   90  95  95          C#  465  Fail

In [14]:
df.loc[df['총합'] > 400, '결과'] = 'Pass' # 총합이 400보다 큰 데이터에 대해서 결과를 Pass로 업데이트
df

       이름         소속    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    신짱구  떡잎마을방범대소속   80   90   85  100  95  85      PYTHON  455  Pass
2번    신형만     떡잎상사소속  184   40   35   50  55  25        JAVA  205  Fail
3번    봉미선       없음소속  168   80   75   70  80  75  JAVASCRIPT  380  Fail
4번    신짱아       없음소속   60   40   60   70  75  80         NaN  325  Fail
5번     훈이  떡잎마을방범대소속   75   15   20   10  35  10         NaN   90  Fail
6번     철수  떡잎마을방범대소속   80   80  100   95  85  80           C  440  Pass
7번     유리  떡잎마을방범대소속   74   55   65   45  40  35      PYTHON  240  Fail
8번     맹구  떡잎마을방범대소속   85  100   85   90  95  95          C#  465  Pass

***
#### column 삭제

In [15]:
df.drop(columns=['총합']) # 총합 컬럼을 삭제

       이름         소속    키   국어   영어   수학  과학  사회        SW특기    결과
지원번호
1번    신짱구  떡잎마을방범대소속   80   90   85  100  95  85      PYTHON  Pass
2번    신형만     떡잎상사소속  184   40   35   50  55  25        JAVA  Fail
3번    봉미선       없음소속  168   80   75   70  80  75  JAVASCRIPT  Fail
4번    신짱아       없음소속   60   40   60   70  75  80         NaN  Fail
5번     훈이  떡잎마을방범대소속   75   15   20   10  35  10         NaN  Fail
6번     철수  떡잎마을방범대소속   80   80  100   95  85  80           C  Pass
7번     유리  떡잎마을방범대소속   74   55   65   45  40  35      PYTHON  Fail
8번     맹구  떡잎마을방범대소속   85  100   85   90  95  95          C#  Pass

In [16]:
df.drop(columns=['국어', '영어', '수학']) # 국어, 영어, 수학 컬럼을 삭제

       이름         소속    키  과학  사회        SW특기   총합    결과
지원번호
1번    신짱구  떡잎마을방범대소속   80  95  85      PYTHON  455  Pass
2번    신형만     떡잎상사소속  184  55  25        JAVA  205  Fail
3번    봉미선       없음소속  168  80  75  JAVASCRIPT  380  Fail
4번    신짱아       없음소속   60  75  80         NaN  325  Fail
5번     훈이  떡잎마을방범대소속   75  35  10         NaN   90  Fail
6번     철수  떡잎마을방범대소속   80  85  80           C  440  Pass
7번     유리  떡잎마을방범대소속   74  40  35      PYTHON  240  Fail
8번     맹구  떡잎마을방범대소속   85  95  95          C#  465  Pass

#### Row 삭제

In [18]:
df.drop(index='4번') # 4번 학생 데이터 행을 삭제

       이름         소속    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    신짱구  떡잎마을방범대소속   80   90   85  100  95  85      PYTHON  455  Pass
2번    신형만     떡잎상사소속  184   40   35   50  55  25        JAVA  205  Fail
3번    봉미선       없음소속  168   80   75   70  80  75  JAVASCRIPT  380  Fail
5번     훈이  떡잎마을방범대소속   75   15   20   10  35  10         NaN   90  Fail
6번     철수  떡잎마을방범대소속   80   80  100   95  85  80           C  440  Pass
7번     유리  떡잎마을방범대소속   74   55   65   45  40  35      PYTHON  240  Fail
8번     맹구  떡잎마을방범대소속   85  100   85   90  95  95          C#  465  Pass

In [19]:
filt = df['수학'] < 80 # 수학 점수가 80점 미만인 학생 필터링
df[filt]

       이름         소속    키  국어  영어  수학  과학  사회        SW특기   총합    결과
지원번호
2번    신형만     떡잎상사소속  184  40  35  50  55  25        JAVA  205  Fail
3번    봉미선       없음소속  168  80  75  70  80  75  JAVASCRIPT  380  Fail
4번    신짱아       없음소속   60  40  60  70  75  80         NaN  325  Fail
5번     훈이  떡잎마을방범대소속   75  15  20  10  35  10         NaN   90  Fail
7번     유리  떡잎마을방범대소속   74  55  65  45  40  35      PYTHON  240  Fail

In [20]:
df[filt].index

Index(['2번', '3번', '4번', '5번', '7번'], dtype='object', name='지원번호')

In [21]:
df.drop(index=df[filt].index)

       이름         소속   키   국어   영어   수학  과학  사회    SW특기   총합    결과
지원번호
1번    신짱구  떡잎마을방범대소속  80   90   85  100  95  85  PYTHON  455  Pass
6번     철수  떡잎마을방범대소속  80   80  100   95  85  80       C  440  Pass
8번     맹구  떡잎마을방범대소속  85  100   85   90  95  95      C#  465  Pass

***
#### Row 추가

In [22]:
df.loc['9번'] = ['수지', '떡잎유치원', 77, 90, 90, 90, 90, 90, 'Kotlin', 450, 'Pass'] # 새로운 행 추가

In [23]:
df

       이름         소속    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    신짱구  떡잎마을방범대소속   80   90   85  100  95  85      PYTHON  455  Pass
2번    신형만     떡잎상사소속  184   40   35   50  55  25        JAVA  205  Fail
3번    봉미선       없음소속  168   80   75   70  80  75  JAVASCRIPT  380  Fail
4번    신짱아       없음소속   60   40   60   70  75  80         NaN  325  Fail
5번     훈이  떡잎마을방범대소속   75   15   20   10  35  10         NaN   90  Fail
6번     철수  떡잎마을방범대소속   80   80  100   95  85  80           C  440  Pass
7번     유리  떡잎마을방범대소속   74   55   65   45  40  35      PYTHON  240  Fail
8번     맹구  떡잎마을방범대소속   85  100   85   90  95  95          C#  465  Pass
9번     수지      떡잎유치원   77   90   90   90  90  90      Kotlin  450  Pass

#### Cell 수정

In [24]:
df.loc['4번', 'SW특기'] = 'Python'
df

       이름         소속    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    신짱구  떡잎마을방범대소속   80   90   85  100  95  85      PYTHON  455  Pass
2번    신형만     떡잎상사소속  184   40   35   50  55  25        JAVA  205  Fail
3번    봉미선       없음소속  168   80   75   70  80  75  JAVASCRIPT  380  Fail
4번    신짱아       없음소속   60   40   60   70  75  80      Python  325  Fail
5번     훈이  떡잎마을방범대소속   75   15   20   10  35  10         NaN   90  Fail
6번     철수  떡잎마을방범대소속   80   80  100   95  85  80           C  440  Pass
7번     유리  떡잎마을방범대소속   74   55   65   45  40  35      PYTHON  240  Fail
8번     맹구  떡잎마을방범대소속   85  100   85   90  95  95          C#  465  Pass
9번     수지      떡잎유치원   77   90   90   90  90  90      Kotlin  450  Pass

In [25]:
df.loc['5번', ['소속', 'SW특기']] = ['돼지발굽유치원', 'C']  # 수정

In [26]:
df

       이름         소속    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    신짱구  떡잎마을방범대소속   80   90   85  100  95  85      PYTHON  455  Pass
2번    신형만     떡잎상사소속  184   40   35   50  55  25        JAVA  205  Fail
3번    봉미선       없음소속  168   80   75   70  80  75  JAVASCRIPT  380  Fail
4번    신짱아       없음소속   60   40   60   70  75  80      Python  325  Fail
5번     훈이    돼지발굽유치원   75   15   20   10  35  10           C   90  Fail
6번     철수  떡잎마을방범대소속   80   80  100   95  85  80           C  440  Pass
7번     유리  떡잎마을방범대소속   74   55   65   45  40  35      PYTHON  240  Fail
8번     맹구  떡잎마을방범대소속   85  100   85   90  95  95          C#  465  Pass
9번     수지      떡잎유치원   77   90   90   90  90  90      Kotlin  450  Pass

***
#### column 순서 변경

In [27]:
cols = list(df.columns)
cols

['이름', '소속', '키', '국어', '영어', '수학', '과학', '사회', 'SW특기', '총합', '결과']

In [28]:
df = df[[cols[-1]] + cols[0:-1]] # 맨 뒤에 있는 결과 컬럼을 앞으로 가져오고, 나머지 컬럼들과 합쳐서 순서 변경
df

        결과   이름         소속    키   국어   영어   수학  과학  사회        SW특기   총합
지원번호
1번    Pass  신짱구  떡잎마을방범대소속   80   90   85  100  95  85      PYTHON  455
2번    Fail  신형만     떡잎상사소속  184   40   35   50  55  25        JAVA  205
3번    Fail  봉미선       없음소속  168   80   75   70  80  75  JAVASCRIPT  380
4번    Fail  신짱아       없음소속   60   40   60   70  75  80      Python  325
5번    Fail   훈이    돼지발굽유치원   75   15   20   10  35  10           C   90
6번    Pass   철수  떡잎마을방범대소속   80   80  100   95  85  80           C  440
7번    Fail   유리  떡잎마을방범대소속   74   55   65   45  40  35      PYTHON  240
8번    Pass   맹구  떡잎마을방범대소속   85  100   85   90  95  95          C#  465
9번    Pass   수지      떡잎유치원   77   90   90   90  90  90      Kotlin  450

In [31]:
df = df[['결과', '이름', '소속']]
df

        결과   이름         소속
지원번호
1번    Pass  신짱구  떡잎마을방범대소속
2번    Fail  신형만     떡잎상사소속
3번    Fail  봉미선       없음소속
4번    Fail  신짱아       없음소속
5번    Fail   훈이    돼지발굽유치원
6번    Pass   철수  떡잎마을방범대소속
7번    Fail   유리  떡잎마을방범대소속
8번    Pass   맹구  떡잎마을방범대소속
9번    Pass   수지      떡잎유치원

***
#### column 이름 변경

In [29]:
df.columns

Index(['결과', '이름', '소속', '키', '국어', '영어', '수학', '과학', '사회', 'SW특기', '총합'], dtype='object')

In [33]:
df.columns = ['Result', 'name', 'school']
df

     Result name     school
지원번호
1번     Pass  신짱구  떡잎마을방범대소속
2번     Fail  신형만     떡잎상사소속
3번     Fail  봉미선       없음소속
4번     Fail  신짱아       없음소속
5번     Fail   훈이    돼지발굽유치원
6번     Pass   철수  떡잎마을방범대소속
7번     Fail   유리  떡잎마을방범대소속
8번     Pass   맹구  떡잎마을방범대소속
9번     Pass   수지      떡잎유치원