### 13. 함수적용

In [1]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름     소속    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  떡잎유치원   80   90   85  100  95  85      Python
2번    신형만   떡잎상사  184   40   35   50  55  25        Java
3번    봉미선     없음  168   80   75   70  80  75  Javascript
4번    신짱아     없음   60   40   60   70  75  80         NaN
5번     훈이  떡잎유치원   75   15   20   10  35  10         NaN
6번     철수  떡잎유치원   80   80  100   95  85  80           C
7번     유리  떡잎유치원   74   55   65   45  40  35      PYTHON
8번     맹구  떡잎유치원   85  100   85   90  95  95          C#

In [2]:
df['키'] = df['키'] + 'cm' # 키가 문자가 아니라서 에러발생
df

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('int64'), dtype('<U2')) -> None

#### 데이터에 함수적용 (apply)

In [3]:
# 키 뒤에 cm를 붙이는 함수
def add_cm(height):
    return str(height) +'cm'

df['키'] =  df['키'].apply(add_cm) # 키 데이터에 대해서 add_cm 함수를 호출한 결과 데이터를 반영
df

       이름     소속      키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  떡잎유치원   80cm   90   85  100  95  85      Python
2번    신형만   떡잎상사  184cm   40   35   50  55  25        Java
3번    봉미선     없음  168cm   80   75   70  80  75  Javascript
4번    신짱아     없음   60cm   40   60   70  75  80         NaN
5번     훈이  떡잎유치원   75cm   15   20   10  35  10         NaN
6번     철수  떡잎유치원   80cm   80  100   95  85  80           C
7번     유리  떡잎유치원   74cm   55   65   45  40  35      PYTHON
8번     맹구  떡잎유치원   85cm  100   85   90  95  95          C#

In [6]:
def capitalize(lang):
    if pd.notnull(lang): # NaN이 아닌지
        return lang.capitalize()  # 첫 글자는 대문자로, 나머지는 소문자로
    return lang

df['SW특기'] = df['SW특기'].apply(capitalize)
df

       이름     소속      키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  떡잎유치원   80cm   90   85  100  95  85      Python
2번    신형만   떡잎상사  184cm   40   35   50  55  25        Java
3번    봉미선     없음  168cm   80   75   70  80  75  Javascript
4번    신짱아     없음   60cm   40   60   70  75  80         NaN
5번     훈이  떡잎유치원   75cm   15   20   10  35  10         NaN
6번     철수  떡잎유치원   80cm   80  100   95  85  80           C
7번     유리  떡잎유치원   74cm   55   65   45  40  35      Python
8번     맹구  떡잎유치원   85cm  100   85   90  95  95          C#

In [7]:
df['SW특기'].str.capitalize()

지원번호
1번        Python
2번          Java
3번    Javascript
4번           NaN
5번           NaN
6번             C
7번        Python
8번            C#
Name: SW특기, dtype: object