### 14. 그룹화 
동일한 값을 가진 것들끼리 합쳐서 통계 또는 평균 등의 값을 계산하기 위해 사용

In [1]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름     소속    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    신짱구  떡잎유치원   80   90   85  100  95  85      Python
2번    신형만   떡잎상사  184   40   35   50  55  25        Java
3번    봉미선     없음  168   80   75   70  80  75  Javascript
4번    신짱아     없음   60   40   60   70  75  80         NaN
5번     훈이  떡잎유치원   75   15   20   10  35  10         NaN
6번     철수  떡잎유치원   80   80  100   95  85  80           C
7번     유리  떡잎유치원   74   55   65   45  40  35      PYTHON
8번     맹구  떡잎유치원   85  100   85   90  95  95          C#

In [4]:
df.groupby('소속')

In [5]:
df.groupby('소속').get_group('떡잎유치원')

       이름     소속   키   국어   영어   수학  과학  사회    SW특기
지원번호
1번    신짱구  떡잎유치원  80   90   85  100  95  85  Python
5번     훈이  떡잎유치원  75   15   20   10  35  10     NaN
6번     철수  떡잎유치원  80   80  100   95  85  80       C
7번     유리  떡잎유치원  74   55   65   45  40  35  PYTHON
8번     맹구  떡잎유치원  85  100   85   90  95  95      C#

In [6]:
df.groupby('소속').mean() # 계산 가능한 데이터들의 평균값

           키    국어    영어    수학    과학    사회
소속
떡잎상사   184.0  40.0  35.0  50.0  55.0  25.0
떡잎유치원   78.8  68.0  71.0  68.0  70.0  61.0
없음     114.0  60.0  67.5  70.0  77.5  77.5

In [7]:
df.groupby('소속').size() # 각 그룹의 크기

소속
떡잎상사     1
떡잎유치원    5
없음       2
dtype: int64

In [8]:
df.groupby('소속').size()['없음'] # 소속으로 그룹화를 한 뒤에 '없음'에 해당하는 데이터의 수

2

In [9]:
df.groupby('소속')['키'].mean()  # 소속으로 그룹화를 한 뒤에 키의 평균 데이터

소속
떡잎상사     184.0
떡잎유치원     78.8
없음       114.0
Name: 키, dtype: float64

In [10]:
df.groupby('소속')[['국어', '영어', '수학']].mean() # 소속으로 그룹화를 한 뒤에 국어, 영어, 수학의 평균 데이터

         국어    영어    수학
소속
떡잎상사   40.0  35.0  50.0
떡잎유치원  68.0  71.0  68.0
없음     60.0  67.5  70.0

In [11]:
df['나이'] = [5, 34, 29, 1, 5, 5, 5, 5] # 나이 column 추가
df

       이름     소속    키   국어   영어   수학  과학  사회        SW특기  나이
지원번호
1번    신짱구  떡잎유치원   80   90   85  100  95  85      Python   5
2번    신형만   떡잎상사  184   40   35   50  55  25        Java  34
3번    봉미선     없음  168   80   75   70  80  75  Javascript  29
4번    신짱아     없음   60   40   60   70  75  80         NaN   1
5번     훈이  떡잎유치원   75   15   20   10  35  10         NaN   5
6번     철수  떡잎유치원   80   80  100   95  85  80           C   5
7번     유리  떡잎유치원   74   55   65   45  40  35      PYTHON   5
8번     맹구  떡잎유치원   85  100   85   90  95  95          C#   5

In [12]:
df.groupby(['소속', '나이']).mean() # 소속별, 학년별 평균 데이터

              키    국어    영어    수학    과학    사회
소속    나이
떡잎상사  34  184.0  40.0  35.0  50.0  55.0  25.0
떡잎유치원 5    78.8  68.0  71.0  68.0  70.0  61.0
없음    1    60.0  40.0  60.0  70.0  75.0  80.0
      29  168.0  80.0  75.0  70.0  80.0  75.0

In [13]:
df.groupby('나이').mean()

        키    국어    영어    수학    과학    사회
나이
1    60.0  40.0  60.0  70.0  75.0  80.0
5    78.8  68.0  71.0  68.0  70.0  61.0
29  168.0  80.0  75.0  70.0  80.0  75.0
34  184.0  40.0  35.0  50.0  55.0  25.0

In [14]:
df.groupby('나이').mean().sort_values('키') # 나이별로 그룹화하여 평균데이터를 나타내고 키를 기준으로 오름차순으로 정렬

        키    국어    영어    수학    과학    사회
나이
1    60.0  40.0  60.0  70.0  75.0  80.0
5    78.8  68.0  71.0  68.0  70.0  61.0
29  168.0  80.0  75.0  70.0  80.0  75.0
34  184.0  40.0  35.0  50.0  55.0  25.0

In [15]:
df.groupby(['소속', '나이']).sum()

            키   국어   영어   수학   과학   사회
소속    나이
떡잎상사  34  184   40   35   50   55   25
떡잎유치원 5   394  340  355  340  350  305
없음    1    60   40   60   70   75   80
      29  168   80   75   70   80   75

In [17]:
df.groupby(['나이'])[['이름', 'SW특기']].count() # 나이별로 그룹화 한 뒤 SW특기의 개수를 출력

    이름  SW특기
나이
1    1     0
5    5     4
29   1     1
34   1     1

In [18]:
school = df.groupby('소속')
school['나이'].value_counts() # 소속으로 그룹화 한 뒤에 나이별로 학생 수를 가져옴

소속     나이
떡잎상사   34    1
떡잎유치원  5     5
없음     1     1
       29    1
Name: 나이, dtype: int64