### â± Pandas Quiz

In [1]:
import pandas as pd
data = {
    'ì˜í™”' : ['ëª…ëŸ‰', 'ê·¹í•œì§ì—…', 'ì‹ ê³¼í•¨ê»˜-ì£„ì™€ ë²Œ', 'êµ­ì œì‹œì¥', 'ê´´ë¬¼', 'ë„ë‘‘ë“¤', '7ë²ˆë°©ì˜ ì„ ë¬¼', 'ì•”ì‚´'],
    'ê°œë´‰ ì—°ë„' : [2014, 2019, 2017, 2014, 2006, 2012, 2013, 2015],
    'ê´€ê° ìˆ˜' : [1761, 1626, 1441, 1426, 1301, 1298, 1281, 1270], # (ë‹¨ìœ„ : ë§Œ ëª…)
    'í‰ì ' : [8.88, 9.20, 8.73, 9.16, 8.62, 7.64, 8.83, 9.10]
}
df = pd.DataFrame(data)
df

          ì˜í™”  ê°œë´‰ ì—°ë„  ê´€ê° ìˆ˜    í‰ì
0         ëª…ëŸ‰   2014  1761  8.88
1       ê·¹í•œì§ì—…   2019  1626  9.20
2  ì‹ ê³¼í•¨ê»˜-ì£„ì™€ ë²Œ   2017  1441  8.73
3       êµ­ì œì‹œì¥   2014  1426  9.16
4         ê´´ë¬¼   2006  1301  8.62
5        ë„ë‘‘ë“¤   2012  1298  7.64
6    7ë²ˆë°©ì˜ ì„ ë¬¼   2013  1281  8.83
7         ì•”ì‚´   2015  1270  9.10

***

#### ğŸš¨ ì „ì²´ ë°ì´í„° ì¤‘ì—ì„œ 'ì˜í™”'ì •ë³´ë§Œ ì¶œë ¥í•˜ì‹œì˜¤.

In [2]:
df['ì˜í™”']

0           ëª…ëŸ‰
1         ê·¹í•œì§ì—…
2    ì‹ ê³¼í•¨ê»˜-ì£„ì™€ ë²Œ
3         êµ­ì œì‹œì¥
4           ê´´ë¬¼
5          ë„ë‘‘ë“¤
6      7ë²ˆë°©ì˜ ì„ ë¬¼
7           ì•”ì‚´
Name: ì˜í™”, dtype: object

 #### ğŸš¨ ì „ì²´ ë°ì´í„° ì¤‘ì—ì„œ 'ì˜í™”', 'í‰ì ' ì •ë³´ë¥¼ ì¶œë ¥í•˜ì‹œì˜¤.

In [3]:
df[['ì˜í™”', 'í‰ì ']]

          ì˜í™”    í‰ì
0         ëª…ëŸ‰  8.88
1       ê·¹í•œì§ì—…  9.20
2  ì‹ ê³¼í•¨ê»˜-ì£„ì™€ ë²Œ  8.73
3       êµ­ì œì‹œì¥  9.16
4         ê´´ë¬¼  8.62
5        ë„ë‘‘ë“¤  7.64
6    7ë²ˆë°©ì˜ ì„ ë¬¼  8.83
7         ì•”ì‚´  9.10

 #### ğŸš¨ 2015ë…„ ì´í›„ì— ê°œë´‰í•œ ì˜í™” ë°ì´í„° ì¤‘ì—ì„œ 'ì˜í™”', 'ê°œë´‰ ì—°ë„' ì •ë³´ë¥¼ ì¶œë ¥í•˜ì‹œì˜¤.

In [9]:
df.loc[df['ê°œë´‰ ì—°ë„'] >= 2015, ['ì˜í™”', 'ê°œë´‰ ì—°ë„']]

          ì˜í™”  ê°œë´‰ ì—°ë„
1       ê·¹í•œì§ì—…   2019
2  ì‹ ê³¼í•¨ê»˜-ì£„ì™€ ë²Œ   2017
7         ì•”ì‚´   2015

 #### ğŸš¨ ì£¼ì–´ì§„ ê³„ì‚°ì‹ì„ ì°¸ê³ í•˜ì—¬ 'ì¶”ì²œ ì ìˆ˜' columnì„ ì¶”ê°€í•˜ì‹œì˜¤.
 > ì¶”ì²œ ì ìˆ˜ = (ê´€ê°ìˆ˜ * í‰ì ) // 100

 ì˜ˆ) ì²« ë²ˆì§¸ ì˜í™”ì¸ 'ëª…ëŸ‰'ì˜ ê²½ìš°,
 ì¶”ì²œì ìˆ˜ = (ê´€ê°ìˆ˜ 1761 * í‰ì  8.88) // 100 = 156

In [13]:
df['ì¶”ì²œ ì ìˆ˜'] = (df['ê´€ê° ìˆ˜'] * df['í‰ì ']) / 100
df

          ì˜í™”  ê°œë´‰ ì—°ë„  ê´€ê° ìˆ˜    í‰ì      ì¶”ì²œ ì ìˆ˜
0         ëª…ëŸ‰   2014  1761  8.88  156.3768
1       ê·¹í•œì§ì—…   2019  1626  9.20  149.5920
2  ì‹ ê³¼í•¨ê»˜-ì£„ì™€ ë²Œ   2017  1441  8.73  125.7993
3       êµ­ì œì‹œì¥   2014  1426  9.16  130.6216
4         ê´´ë¬¼   2006  1301  8.62  112.1462
5        ë„ë‘‘ë“¤   2012  1298  7.64   99.1672
6    7ë²ˆë°©ì˜ ì„ ë¬¼   2013  1281  8.83  113.1123
7         ì•”ì‚´   2015  1270  9.10  115.5700

 #### ğŸš¨ ì „ì²´ ë°ì´í„°ë¥¼ 'ê°œë´‰ ì—°ë„'ë¥¼ ê¸°ì¤€ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì¶œë ¥í•˜ì‹œì˜¤.

In [11]:
df.sort_values('ê°œë´‰ ì—°ë„', ascending=False)

          ì˜í™”  ê°œë´‰ ì—°ë„  ê´€ê° ìˆ˜    í‰ì
1       ê·¹í•œì§ì—…   2019  1626  9.20
2  ì‹ ê³¼í•¨ê»˜-ì£„ì™€ ë²Œ   2017  1441  8.73
7         ì•”ì‚´   2015  1270  9.10
0         ëª…ëŸ‰   2014  1761  8.88
3       êµ­ì œì‹œì¥   2014  1426  9.16
6    7ë²ˆë°©ì˜ ì„ ë¬¼   2013  1281  8.83
5        ë„ë‘‘ë“¤   2012  1298  7.64
4         ê´´ë¬¼   2006  1301  8.62